<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab08.Properties.Settings.Lab08" connectionString="Data Source=DESKTOP-F644G2I;Initial Catalog=BankLab;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>