<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="7.1.0.442" targetFramework="net481" />
  <package id="CarouselView.FormsPlugin" version="5.2.0" targetFramework="net481" />
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="net481" />
  <package id="Fody" version="6.2.0" targetFramework="net481" developmentDependency="true" />
  <package id="modernhttpclient-updated" version="3.4.3" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="net481" />
  <package id="OpenTK" version="3.0.1" targetFramework="net481" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net481" />
  <package id="Polly" version="7.2.1" targetFramework="net481" />
  <package id="Portable.DataAnnotations" version="1.0.0" targetFramework="net481" />
  <package id="PropertyChanged.Fody" version="3.2.8" targetFramework="net481" />
  <package id="RestSharp" version="106.11.4" targetFramework="net481" />
</packages>